<!--<p>ahjsdhaskjd</p>-->
<!--<div class="container">-->
  <div class="card mb-3 text-center" [hidden]="submitted">
    <div class="card-header">
      Nowy task
    </div>
    <div class = "container card-block">

    <form (ngSubmit)="onSubmitClick()" #taskForm="ngForm" role="form">
      <div class="form-group">
        <label for="title">Tytuł</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="newTask.title" name="title"
               #title="ngModel">
        <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="description">Opis</label>
        <textarea type="text" class="form-control" rows="4" id="description"
                  required
                  [(ngModel)]="newTask.description" name="description"
                  #description="ngModel"></textarea>
        <div [hidden]="description.valid || description.pristine"
             class="alert alert-danger">
          Opis is required
        </div>
      </div>

    <!--  <div class="form-group checkbox">
        <label for="done">
          <input type="checkbox" id="done"
                 [(ngModel)]="newTask.done" name="done"
                 #title="ngModel">
          Zrobione</label>

      </div>-->


      <button type="submit" title.value='' class="btn btn-primary" [disabled]="taskForm.form.invalid">Zapisz</button>

    </form>
    </div>
  </div>
<!--</div>-->
